.buttonLink {
  font-weight: 600;
  line-height: 1.43;
  color: var(--color-white);
  display: inline-flex;
  padding: 12px 50px;
  background-color: var(--primary-color);
  border-radius: var(--boredr-radius);
  transition: background-color var(-duration) var(--cubic-bezier);
}
.buttonLink:hover {
  background-color: var(--primary-color-darker);
}
