.card {
  color: var(--card-text-color);
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 35px;
}

.imgWrapper {
  position: relative;
  display: flex;
  height: 248px;
  border-radius: 14px;
  overflow: hidden;
}
.imgWrapper::before {
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  background: linear-gradient(
      180deg,
      rgba(18, 20, 23, 0.5) 2.5%,
      rgba(18, 20, 23, 0) 41.07%
    ),
    #00000008;
}
.img {
  object-fit: cover;
  object-position: right;
}
.titleWrapper {
  display: flex;
  align-items: baseline;
  margin-top: 14px;
  font-size: 18px;
}
.title {
  font-size: inherit;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 14px;
}
.model {
  color: var(--primary-color);
}
.tagsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: var(--tags-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 8px;
}
.item:last-child > span {
  display: none;
}
.descriptionCar {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  margin-top: 16px;
}
.boxTitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  margin-top: 24px;
}
.conditionList {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 8px;
  margin-bottom: 24px;
}
.conditionItem {
  padding: 7px 14px;
  border-radius: 35px;
  background-color: var(--dark-white-color);
}
.conditionItem span {
  color: var(--primary-color);
  font-weight: 600;
}
