@import '../node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap');

:root {
  --primary-color: #3470ff;
  --primary-color-darker: #0b44cd;
  --color-black: #000;
  --color-white: #fff;
  --color-bg-select: #f7f7fb;
  --dark-white-color: #f9f9f9;
  --light-grey-color: #949494;
  --color-footer-text: #a9aeb3;
  --color-gray-3: #8a8a89;
  --color-footer-bg: #121820;
  --card-text-color: #121417;
  --color-option-text: rgba(18, 20, 23, 0.2);
  --color-shadow-box: rgba(0, 0, 0, 0.2);
  --color-bg-box: rgba(0, 0, 0, 0.6);
  --tags-color: rgba(18, 20, 23, 0.5);
  --line-color: rgba(18, 20, 23, 0.1);
  --color-bg-hero: rgba(47, 48, 58, 0.4);
  --card-price-text-color: #434d57;
  --boredr-radius: 12px;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Manrope', 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*::before,
*::after {
  box-sizing: border-box;
}
p,
h1,
h2,
h3 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  cursor: pointer;
}
img {
  display: inline-flex;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
a.active {
  color: var(--color-black);
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.vl:not(:last-child) {
  border-right: 1px solid var(--line-color);
  height: 16px;
  margin: 0 6px;
}
.modal-open {
  overflow: hidden;
}
.wrapper {
  display: grid;
  grid-template-columns: 860px 300px;
  gap: 40px;
  align-items: start;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
